@import "../../assets/scss/vars";

.header {
  padding: 22px 0 50px;
  @media only screen and (max-width: $tablet) {
    padding: 20px 0 45px;
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-logo {
    max-width: 20px;
    max-height: 30px;
    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: contain;
    }
  }

  &-block {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 47px;
  }

  &-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    gap: 47px;
    @media only screen and (max-width: $tablet) {
      gap: 30px;
      position: absolute;
      right: 22px;
      top: 60px;
      z-index: 1000;
      width: 350px;
      padding: 20px 20px 40px;
      border-radius: 8px;
      background: linear-gradient(140.6deg, #3E6FF9 -27.18%, #3E53F8 126.06%);
      transition: all .3s;
      opacity: 0;
      visibility: hidden;
    }

    &.open {
      opacity: 1;
      visibility: visible;
    }

    ul {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      gap: 45px;
      margin: 0;
      padding: 0;
      @media only screen and (max-width: $tablet) {
        gap: 20px;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
      }
      li {
        list-style-type: none;
        a {
          text-decoration: none;
          font-weight: 400;
          font-size: 16px;
          line-height: 1.2;
          color: #F3F3F3;
          &:hover {
            color: $blue;
          }
        }
      }
    }
  }

  .btn {
    span {
      padding-right: 13px;
    }
  }

  &-btn {
    //  Button span
    $span-width: 15px;
    $span-height: 2px;
    $span-margin-y: 4px;

    //  Button
    $padding-x: 5px;
    $width: ($span-width + $padding-x) * 2;
    $height: ($span-height * 3) + ($span-margin-y * 6);

    display: none;
    margin-right: 22px;
    width: #{$width};
    transform: translateY(0);
    padding: 0 #{$padding-x};
    background: transparent !important;
    box-shadow: none;
    border: none;
    z-index: 101;
    outline: none;
    min-width: 0.1rem;
    @media only screen and (max-width: $tablet) {
      display: block;
    }
    span {
      top: 0;
      float: left;
      display: block;
      overflow: hidden;
      position: relative;
      background: $white;
      width: #{$span-width};
      height: #{$span-height};
      margin: #{$span-margin-y} 0;
      transform: rotate(0);
      transition: all 0.25s ease-in-out;

      &:nth-child(odd) {
        clear: both;
      }
      &:nth-child(even) {
        float: right;
      }
      &:nth-child(4),
      &:nth-child(2) {
        transform-origin: left center;
      }
      &:nth-child(1),
      &:nth-child(3) {
        transform-origin: right center;
      }
    }
    // Open menu
    &.open {
      span {
        background: $white;
        &:nth-child(1),
        &:nth-child(4) {
          transform: rotate(45deg);
        }
        &:nth-child(2),
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
        &:nth-child(4),
        &:nth-child(3) {
          top: -#{$height / 3};
        }
      }
    }
  }
}